/**
* kk Star Ratings
* @see https://github.com/kamalkhan/kk-star-ratings
*/

.kk-star-ratings {
    display: -webkit-inline-box !important;
    display: -webkit-inline-flex !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /* vertical-align: text-top; */
}

.kk-star-ratings.kksr-valign-top {
    margin-bottom: 2rem;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.kk-star-ratings.kksr-valign-bottom {
    margin-top: 2rem;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.kk-star-ratings.kksr-align-left {
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
}

.kk-star-ratings.kksr-align-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.kk-star-ratings.kksr-align-right {
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
}

.kk-star-ratings .kksr-muted {
    opacity: .5;
}

.kk-star-ratings .kksr-stars {
    position: relative;
}

.kk-star-ratings .kksr-stars .kksr-stars-active,
.kk-star-ratings .kksr-stars .kksr-stars-inactive {
    display: flex;
}

.kk-star-ratings .kksr-stars .kksr-stars-active {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.kk-star-ratings .kksr-stars .kksr-star {
    cursor: pointer;
    padding-right: 0px;
}

.kk-star-ratings.kksr-disabled .kksr-stars .kksr-star {
    cursor: default;
}

/* .kk-star-ratings .kksr-stars .kksr-stars-active .kksr-star:last-child,
.kk-star-ratings .kksr-stars .kksr-stars-inactive .kksr-star:last-child {
    padding-right: 0px !important;
} */

.kk-star-ratings .kksr-stars .kksr-star .kksr-icon {
    transition: .3s all;
}

/* Images */

.kk-star-ratings:not(.kksr-disabled) .kksr-stars:hover .kksr-stars-active {
    width: 0 !important;
}

.kk-star-ratings .kksr-stars .kksr-star .kksr-icon,
.kk-star-ratings:not(.kksr-disabled) .kksr-stars .kksr-star:hover ~ .kksr-star .kksr-icon {
    background-image: url("../svg/inactive.svg");
}

.kk-star-ratings .kksr-stars .kksr-stars-active .kksr-star .kksr-icon {
    background-image: url("../svg/active.svg");
}

.kk-star-ratings.kksr-disabled .kksr-stars .kksr-stars-active .kksr-star .kksr-icon,
.kk-star-ratings:not(.kksr-disabled) .kksr-stars:hover .kksr-star .kksr-icon {
    background-image: url("../svg/selected.svg");
}

/* Legend */

.kk-star-ratings .kksr-legend {
    margin-left: .75rem;
    margin-right: .75rem;
    /* font-size: 90%; */
    /* opacity: .8; */
    /* line-height: 1; */
}
#rating .rating{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#rating .rating label{

}
#rating .rating input{
    display: none;
}
/* RTL */

[dir="rtl"] .kk-star-ratings .kksr-stars .kksr-stars-active {
    left: auto;
    right: 0;
}

/* [dir="rtl"] .kk-star-ratings .kksr-stars .kksr-stars-active .kksr-star:last-child,
[dir="rtl"] .kk-star-ratings .kksr-stars .kksr-stars-inactive .kksr-star:last-child {
    padding-left: 0px !important;
} */
